@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  cursor: default;
}
.navbar {
  background: #e5e4e2 !important;
  padding: 0px 40px !important;
}

.logo {
  width: 100px;
  height: 12vh;
}
.nav-link {
  font-family: "Bree serif";
  color: black !important;
  border: 1px solid transparent;
  text-align: center;
}
.nav-link:hover {
  background-color: white;
  color: green !important;
  border: 1px solid black;
  border-radius: 5px;
}

.Home-bg-container {
  background-image: url(./Assets/spicy\ court\ bg\ img.jpg);
  height: 100vh;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding-top: 16vh;
}
.Home-heading {
  color: white;
  font-family: monospace;
  font-weight: bold;
}
.Home-p {
  color: white;
  font-size: 25px;
}
.btn {
  height: 45px;
  width: 130px;
  background: #d0b200;
  color: white;
  border-width: 0px;
}
.btn-c {
  color: white;
  background: transparent;
  width: 130px;
  height: 45px;
  border: 1px solid #d0b200;
  border-radius: 8px;
  outline: none !important;
  cursor: pointer;
}

.WCU-Section {
  padding: 0px 50px;
  padding-top: 15vh;
  height: 100vh;
  width: 100%;
}
.WCU-Section h1 {
  color: green;
  text-transform: capitalize;
  font-family: "bree serif";
}
.WCU-Section p {
  color: darkcyan;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards div {
  height: 350px;
  width: 400px;
  margin: 0px 20px;
  border-radius: 20px;
  border: 2px solid darkcyan;
}

@media (max-width: 785px) {
    .cards{
        flex-direction: column;
    }
    .cards div{
        margin: 20px 0px;
    }
}
